{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <h1>Votre panier</h1>

    {% if cart is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('app_cart_remove', {'id': item.id}) }}" class="btn btn-danger">Supprimer du panier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
