{% extends 'base.html.twig' %}

{% block title %}
    Accueil - Mon E-ECOMMERCIVM
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1 class="header-title">Bienvenue sur notre E-COMMERCIVM</h1>
        <p data-controller="hello"></p>
        <div class="photo-grid">
            {% for photo in photos %}
                <div class="photo-card">
                    <a href="{{ path('app_photo_show', { 'id': photo.id }) }}">
                        <img class="photo-card__image" src="{{ photo.imageUrl }}" alt="{{ photo.title }}">
                        <div class="photo-card__info">
                            <h2 class="photo-card__title">{{ photo.title }}</h2>
                            <p class="photo-card__description">{{ photo.description }}</p>
                            <p class="photo-card__price">{{ photo.price }} sesterces <img class="sesterce" style="width:30px;" src="{{ asset('img/sesterce.jpg') }}" alt="sesterce"></p>
                            <div class="photo-card__tags">
                                {% for tag in photo.tags %}
                                    <span class="photo-card__tag">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('app_cart_add', { 'id': photo.id }) }}" class="add-to-cart-link" data-controller="cart" data-action="click->cart#addToCart" data-product-id="{{ photo.id }}">Ajouter au panier</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


