{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Photo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Titre</th>
                <th>URL</th>
                <th>MetaInfo</th>
                <th>Prix</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th>Ations</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.description }}</td>
                <td>{{ photo.title }}</td>
                <td>{{ photo.imageUrl }}</td>
                <td>{{ photo.metaInfo ? photo.metaInfo|json_encode : '' }}</td>
                <td>{{ photo.price }} sesterces <img class="sesterce" style="width:30px;"src="{{ asset('img/sesterce.jpg') }}" alt="sesterce"></td>
                <td>{{ photo.createdAt ? 'Le ' ~ photo.createdAt|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ photo.modifiedAt ? 'Le ' ~ photo.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_photo_show', {'slug': photo.slug}) }}">Voir</a>
                    <a href="{{ path('app_photo_edit', {'slug': photo.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_photo_new') }}" class="create-new-link">Créer une nouvelle photo</a>
{% endblock %}
