{% extends 'base.html.twig' %}

{% block title %}Détails de la Photo
{% endblock %}

{% block body %}
	<div class="product-details">
		<h1>{{ photo.title }}</h1>

		<div class="product-details__info">
			<div class="product-details__image">
				<img src="{{ photo.imageUrl }}" alt="{{ photo.title }}">
			</div>
			<div class="product-details__description">
				<p>{{ photo.description }}</p>
				<p>Prix :
					{{ photo.price }}
					€</p>
				<p>Créé le :
					{{ photo.createdAt ? photo.createdAt|date('d/m/Y à H:i') : 'Non spécifié' }}</p>
				<p>Modifié le :
					{{ photo.modifiedAt ? photo.modifiedAt|date('d/m/Y à H:i') : 'Non spécifié' }}</p>
			</div>
		</div>

		<div class="product-details__actions">
			<a href="{{ path('app_photo_index') }}" class="btn btn-primary">Retour à la liste</a>
			<br>
			<a href="{{ path('app_photo_edit', {'slug': photo.slug}) }}" class="btn btn-secondary">Modifier</a>
			{{ include('photo/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
